{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
  <h2>Welcome to Airfoil Optimizer<h2>
      <h3>Simply press the button to start the program<h3>
</div>

<form action="/run" method="post">
  Starting angle:<br>
  <input type="text" name="angle_start" value="0">
  <br>
  Final angle:<br>
  <input type="text" name="angle_stop" value="30">
  <br>
  Number of calculated angles:<br>
  <input type="text" name="n_angles" value="10">
  <br>
  Nodes:<br>
  <input type="text" name="n_nodes" value="200">
  <br>
  Refinement levels:<br>
  <input type="text" name="n_levels" value="1">
  <br>
  <br>
  Samples:<br>
  <input type="text" name="num_samples" value="10">
  <br>
  Viscosity:<br>
  <input type="text" name="viscosity" value="0.0001">
  <br>
  Speed:<br>
  <input type="text" name="speed" value="10">
  <br>
  Time:<br>
  <input type="text" name="time" value="1">
  <br>
  <br>
  <input type="submit" value="Run"></input>
</form>

{% endblock %}
