{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
  <h2>Results<h2>
      <h3>Results are shown below.<h3>
      <h5>Use ctrl + and ctrl - if lines are not visible<h5>
 <hr />
<script type="text/javascript">
  $(document).ready(function() {
	var object = {{ json|tojson }};
	console.log(object);
	var jsonobject = jQuery.parseJSON(object);
	console.log(jsonobject);
	var files = [];
	for (elem in jsonobject)
	{
		var file = jsonobject[elem];
		files.push(file);
		var timeArray = [];
		var liftArray = [];
		var dragArray = [];
		console.log(file.data);
		var data = file.data;
		var filename = file.id;
                var graphtitle = "Angle: " + filename.substring(3, filename.indexOf("n")) + " degrees";
		for (var i = 0; i<data.length; i++)
		{
			item = data[i];
			console.log(item);
			liftArray.push(parseFloat(item.lift));
			dragArray.push(parseFloat(item.drag));
			timeArray.push(parseFloat(item.time));
		}
		var $container = $('<div>').appendTo(document.body);
		var chart = new Highcharts.Chart({
			chart: {
				renderTo: $container[0]
			},
			title: {
				text: graphtitle
			},
			xAxis: {
				format: '{value} s',
				categories: timeArray,
			        title: {
					       text: 'Time'
				}
			},
			yAxis: {
			        type: 'logarithmic',
		                minorTickInterval: 0.1,
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			series: [{
				name: 'Lift',
				data: liftArray
			}, {
				name: 'Drag',
				data: dragArray
			}]

		});

	}
});
</script>
{% endblock %}
